<div>
    <h1>Research</h1>
    <h3 style="margin-left: 25px;">SQL-Injection</h3>
    <hr/><br/>

    <div>
        <div>
            <row style="margin: 25px;">
                <a asp-controller="SQL" asp-action="Create"><button type="button" class="btn btn-outline-primary">Create</button></a>
                <a asp-controller="SQL" asp-action="Views"><button type="button" class="btn btn-outline-success">View</button></a>

            </row>
        </div>
    </div>
</div>
